* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.sidebar {
    background-color: #bd574f;
    color: #17181b;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

label{
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.main {
    background-color: whitesmoke;
    padding: 20px;
}

.card {
    width: 250px;
    height: 250px;
    background-color: pink;
    border-radius: 20px;
}

.submit-btn {
    background-color: #17181b;
    color: white;
    padding: 10px;
    border: solid 1px #17181b;
    border-radius: 15px;
    margin-top: 10px;
}
.main h1 {
    text-align: center;
    margin-bottom: 20px;
}